/* Dracula colors */

$dracula-background: #282a36;
$dracula-selection: #44475a;
$dracula-foreground: #f8f8fa;
$dracula-comment: #6272a4;
$dracula-cyan: #8be9fd;
$dracula-green: #50fa7b;
$dracula-orange: #ffb86c;
$dracula-pink: #ff79c6;
$dracula-purple: #bd93f9;
$dracula-red: #ff5555;
$dracula-yellow: #f1fa8c;

$black: $dracula-background;
$white: $dracula-foreground;
$light-black: #222;
$cyan: $dracula-cyan;
$green: $dracula-green;
$orange: $dracula-orange;
$pink: $dracula-pink;
$purple: $dracula-purple;
$red: $dracula-red;
$yellow: $dracula-yellow;

.cyan { color: $cyan; }
.green { color: green; }
.orange { color: orange; }
.pink { color: pink; }
.purple { color: purple; }
.red { color: red; }
.yellow { color: yellow; }
