body {
  background-color: $black;
  color: $white;
  font-family: sans-serif;
  font-size: 20px;
}

h1 { color: $green; }
h2 { color: $pink; }
h3 { color: $orange; }
h4 { color: $purple; }
h5 { color: $red; }
h6 { color: $yellow; }

a, a:visited, a:active, a:hover {
  color: $cyan;
  font-weight: bold;
  text-decoration: none;
}

blockquote {
  border-left: 5px solid $cyan;
  background-color: $dracula-selection;
  font-style: italic;
  margin: 1rem 0;
  padding: 0.5rem 2.5rem;
}

blockquote p {
  padding: 0;
  margin: 0;
}

/* code block */
pre.highlight {
  background-color: $light-black;
  border: 1px solid $purple;
  margin: 0.25rem 1rem;
  overflow: scroll;
  padding: 2rem;
}

img.framed {
  border: 1px dotted $dracula-comment;
}

.big-title {
  text-align: center;
  font-size: 10rem;
}

